services:
  backend:
    container_name: spa-comments-backend
    build:
      context: .
      dockerfile: src/SPAComments/SPAComments.Web/Dockerfile
      args:
        GITHUB_PACKAGES_TOKEN: ${GITHUB_PACKAGES_TOKEN}
        GITHUB_OWNER: ${GITHUB_OWNER}
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__CommentsDb: Host=postgres;Port=5432;Database=app_db;Username=postgres;Password=postgres
      ConnectionStrings__Redis: redis:6379
      ConnectionStrings__RabbitMq: amqp://guest:guest@rabbitmq:5672
      FileService__BaseAddress: http://file-service:8081
      Elasticsearch__Url: http://elasticsearch:9200
      Elasticsearch__CommentsIndex: spa-comments-comments
    expose:
      - "8080"
    depends_on:
      elasticsearch:
        condition: service_healthy
      postgres:
        condition: service_started
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
      file-service:
        condition: service_started

  file-service:
    container_name: file-service
    build:
      context: ./src/SPAComments.FileService
      dockerfile: Dockerfile
      args:
        GITHUB_PACKAGES_TOKEN: ${GITHUB_PACKAGES_TOKEN}
        GITHUB_OWNER: ${GITHUB_OWNER}
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ASPNETCORE_URLS: http://+:8081
      ConnectionStrings__Mongo: mongodb://mongo:27017
      Minio__Bucket: spa-comments
      Minio__Endpoint: http://minio:9000
      Minio__AccessKey: minioadmin
      Minio__SecretKey: minioadmin
      Minio__WithSsl: "false"
    expose:
      - "8081"
    depends_on:
      - mongo
      - minio

  frontend:
    container_name: spa-comments-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5431:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    container_name: redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--appendonly", "yes" ]

  mongo:
    container_name: mongo
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -vq '"status":"red"'"]
      interval: 10s
      timeout: 10s
      retries: 20

  minio:
    container_name: minio
    image: minio/minio
    command: server /data --console-address ":9001"
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

volumes:
  postgres-data:
  redis-data:
  es-data:
  mongo-data:
  minio-data:
